<h1 class="text-center mt-4"> Log in into iomart </h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      log in section
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= link_to 'Sign up', signup_path, class: "" %>
    </div>
  </div>
</div>
