<h1 class="text-center mt-4"> Events </h1>

<div class="container">
  <%= render "events/partials/event_search_section" %>
</div>

<div class="container">
  <div class="row justify-content-end">
    <%= link_to 'New Event', new_event_path, class: "btn btn-outline-primary mx-2 btn-sm my-2 col-1" %>
  </div>
  <%= render "events/partials/events_table", events: @events %>
</div>
